<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Error / Hyzen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="theme-color" content="#FEFEFE">
    <meta property="og:site_name" content="Hyzen">
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="Hyzen" />
    <meta property="og:title" content="Error / Hyzen" />
</head>

<body style="font-family: 'PT Sans', sans-serif;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Hyzen</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/my/trending">Trending</a>
              </li>
            </ul>
            <form class="d-flex" id='search_form' target="_self" autocomplete="off">
              <input class="form-control me-sm-2" type="text" placeholder="Search" id="search-field">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit" style='margin-right: .5rem!important;'>Search</button>
              <a class="btn btn-secondary my-2 my-sm-0" href='#'>Settings</a>
            </form>
          </div>
        </div>
      </nav>
    <div style="margin: 8px;text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);">
        <h1 style='font-weight: 700;'>Something went wrong!</h1>
	    <h5>Error Message:<br><code><%= error ? error : "None" %></code></h5>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src='/js/search.js'></script>
    <script src='/js/theme.js'></script>
</body>

</html>