<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Trending / Hyzen</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="theme-color" content="#FEFEFE">
    <meta property="og:site_name" content="Hyzen">
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="Hyzen" />
    <meta property="og:title" content="Trending / Hyzen" />
</head>

<body style="font-family: 'PT Sans', sans-serif; overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Hyzen</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/my/trending">Trending</a>
              </li>
            </ul>
            <form class="d-flex" id='search_form' target="_self" autocomplete="off">
              <input class="form-control me-sm-2" type="text" placeholder="Search" id="search-field">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit" style='margin-right: .5rem!important;'>Search</button>
              <a class="btn btn-secondary my-2 my-sm-0" href='#'>Settings</a>
            </form>
          </div>
        </div>
      </nav>
    <h1 style="font-family: 'PT Sans', sans-serif;margin-top: 21.440px;margin-bottom: 21.440px;font-size: 32px;font-weight: 700;margin-left:40px;text-align:center;width:calc(100vw - 16px);margin:0;"><strong>Trending</strong><br></h1>
			<div class='container' id='recommendations' style='margin-top: 20px;'>
				<% Object.values(results).forEach(function(result){ %>
					<% if (result.type === 'video'){ %>
						<%- `<div class="row" id='recommendation_${result.videoId}'><div class="col-sm-2" style="min-width:178px"><div id="thumbnail_parent_${result.videoId}"><img style="width:100%;min-width:168px" id="${result.videoId}" src="/proxy/thumbnail?q=${result.videoThumbnails ? result.videoThumbnails[1].url.replace('hqdefault', 'mqdefault') : ''}" alt=""><br></div></div><div class="col"><div style="width:100%"><a href="/video?v=${result.videoId}"><strong>${result.title ? result.title : ""}</strong><br></a><p><a href="/channel?q=${result.authorId}">${result.author ? result.author : ""}</a> &bull; ${result.viewCount ? result.viewCount : "0"} views<br></p><p>${result.publishedText ? result.publishedText : "Unknown"}<br></p></div></div></div>` %>
					<% } %>
				<% }); %>
            </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src='/js/search.js'></script>
    <script src='/js/theme.js'></script>
    <script src='/js/watched.js'></script>
</body>

</html>