.thumbnail_next {
  max-width: 168px;
  max-height: 94.27px;
  display: inline-block;
}
.thumbnail_parent {
  max-width: 168px;
  max-height: 94.27px;
  display: inline-block;
  text-align:center;
  position: relative;
}
.row{
  margin-bottom: 16px;
}
p{
  margin-bottom: 0 !important;
}